.navbar-brand {
    margin-top: 20px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 10; 
    font-size: 30px;
}


.navbar-nav {
    margin-top: 20px;
    margin-left: auto;
    font-size: larger;
    font-family: 'Bebas Neue', sans-serif; /* Pushes the buttons to the right */
}

.nav-item .nav-link {
    font-family: 'Bebas Neue', sans-serif;
   /* Set color for the button text */
    padding: 0; /* Remove default padding */
    font-weight: 70; 
    font-size: 30px;
}
body {
    background-color: #FBF3E4;
    position: relative;
    animation: fadeOut 3s ease-in-out;
    
  
}

.bottom-right-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100px; /* Adjust the width of the button as needed */
    height: auto; /* Maintain aspect ratio */
    text-decoration: none; /* Remove default underline on anchor tag */
    padding: 5px; /* Button padding */
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
}
.bottom-right-image {
    position: absolute;
    bottom: 300px;
    right: 200px;
    width: 100px; /* Adjust the width of the image as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px; /* Add some margin from the bottom */
    margin-right: 20px;
    animation: moveRightToLeft 1s ease-in infinite;  /* Add some margin from the right */
}
.image-paragraph{
    padding-left: 10%;
    font-family: 'Poppins', sans-serif;
}
.rightimage{

    margin-top: 0%;
}
@keyframes moveRightToLeft {
    0% {
        transform: translateX(-5%); /* Start position: translate the image to the right edge of the viewport */
    }
    100% {
        transform: translateX(10%); /* End position: translate the image to the left edge of the viewport */
    }
}
.buttons-container{
    margin-left: 10%;
    padding: auto;
}
.btn-primary{
    border-radius: 5px;
    background-color:#B91646 ;
    font-family: 'Poppins', sans-serif;
    border-color: black;
    border-width: 3px;
    transition: background-color 0.3s ease;

}
.btn-primary:hover{
   background-color: black;
   
}

@keyframes fadeOut {
    from { opacity: 0; }
    to { opacity: 1; }
}